<template name="block1x">
    <block name="block1">
        block1x block1
    </block>
    <block name="block2" params="name">
        block1x block2
    </block>
    <block name="block3">
        block1x block3
    </block>
    Blocks: <%= block('block1')  %><br />
    <%= block('block2')  %><br />
    <%= block('block3')  %>
</template>

<template name="block2x" extend="block1x">
    <block name="block2" params="name">
        block2x block2
    </block>
    <block name="block3">
        block2x block3
    </block>
    Blocks: <%= block('block1')  %><br />
    <%= block('block2')  %><br />
    <%= block('block3')  %>
</template>

<template name="block3x" extend="block2x">
    <block name="block3">
        block3x block3
    </block>
    Blocks: <%= block('block1')  %><br />
    <%= block('block2')  %><br />
    <%= block('block3')  %>
</template>

<template name="foreach-block">
    <block name="block1">
        1
    </block>
    <block name="block2" params="name">
        <%= name %>
    </block>
    <%= forEachBlock('block1', [1,2,3]) %>
    <%= forEachBlock('block2', [1,2,3]) %>
</template>

<template name="nnn" params="a">
1 2 3 4                                        999
</template>

<template name="page">
    <block name="head">
        123
    </block>
    <block name="footer">
        101112
    </block>
    <block name="main">
        <%= block('head') %>
        <%= block('content') %>
        <%= block('footer') %>
    </block>
</template>

<template name="block.page" extend="page">
    <block name="content">
        abc
    </block>
    <%= block('main') %>
</template>

<template name="page.constructor">
    <block name="head">
        123
    </block>
    <block name="footer">
        101112
    </block>
    <%= block('head') %>
    <%= block('content') %>
    <%= block('footer') %>
</template>

<template name="block.page.empty.constructor" extend="page.constructor">
    <block name="content">
        abc
    </block>
</template>