<template name="filter-html" params="a">
    <%! filter.html(a) %>
</template>

<template name="filter-unhtml" params="a">
    <%! filter.unhtml(a) %>
</template>

<template name="filter-stripTags" params="a">
    <%! filter.stripTags(a) %>
</template>

<template name="filter-uri" params="a">
    <%! filter.uri(a) %>
</template>

<template name="filter-truncate" params="text, length">
    <%= filter.truncate(text, length) %>
</template>

<template name="filter-trim" params="a">
    <%= a | trim %>
</template>

<template name="filter-ltrim" params="a">
    <%= a | ltrim %>
</template>

<template name="filter-rtrim" params="a">
    <%= a | rtrim %>
</template>

<template name="filter-upper" params="a">
    <%= filter.upper(a) %>
</template>

<template name="filter-lower" params="a">
    <%= filter.lower(a) %>
</template>

<template name="filter-ucfirst" params="a">
    <%= filter.ucfirst(a) %>
</template>

<template name="filter-lcfirst" params="a">
    <%= filter.lcfirst(a) %>
</template>

<template name="filter-collapse" params="a">
    <%= filter.collapse(a) %>
</template>

<template name="filter-repeat" params="text, length">
    <%= filter.repeat(text, length) %>
</template>

<template name="filter-indent" params="text, pre">
    <%= filter.indent(text, pre) %>
</template>

<template name="filter-remove" params="text, search">
    <%= filter.remove(text, search) %>
</template>

<template name="filter-replace" params="text, search, replace">
    <%= filter.replace(text, search, replace) %>
</template>

<template name="filter-first" params="text">
    <%= text | first %>
</template>

<template name="filter-last" params="text">
    <%= text | last %>
</template>

<template name="filter-_undef" params="a">
    <%= filter._undef(a) %>
</template>

<template name="short-filter-trim" params="a">
    <%! a | trim(111) %>
</template>

<template name="short-filter-replace" params="a">
    <%! a | replace('1', '0') %>
</template>

<template name="short-filter-trim-replace" params="a">
    <%! a | trim | replace('1', '0') %>
</template>

<template name="short-filter-trim-replace-trim" params="a">
    <%! a | trim | replace('1', ' ') | trim %>
</template>

<template name="escape-html-short-filter-trim" params="a">
    <%= a | trim %>
</template>

<template name="escape-html-short-filter-replace" params="a">
    <%= a | replace('1', '0') %>
</template>

<template name="escape-html-short-filter-trim-replace" params="a">
    <%= a | trim | replace('1', '0') %>
</template>

<template name="escape-html-short-filter-trim-replace-trim" params="a">
    <%= a | trim | replace('1', ' ') | trim %>
</template>

<template name="filter-className" params="cl">
    <%= cl | className %>
</template>

<template name="filter-void" params="data">
    <%= data | void %>
</template>