<template name="filter-html" params="a">
    <%= filter.html(a) %>
</template>

<template name="filter-unhtml" params="a">
    <%= filter.unhtml(a) %>
</template>

<template name="filter-stripTags" params="a">
    <%= filter.stripTags(a) %>
</template>

<template name="filter-uri" params="a">
    <%= filter.uri(a) %>
</template>

<template name="filter-truncate" params="text, length">
    <%= filter.truncate(text, length) %>
</template>

<template name="filter-trim" params="a">
    <%= filter.trim(a) %>
</template>

<template name="filter-upper" params="a">
    <%= filter.upper(a) %>
</template>

<template name="filter-lower" params="a">
    <%= filter.lower(a) %>
</template>

<template name="filter-ucfirst" params="a">
    <%= filter.ucfirst(a) %>
</template>

<template name="filter-lcfirst" params="a">
    <%= filter.lcfirst(a) %>
</template>

<template name="filter-collapse" params="a">
    <%= filter.collapse(a) %>
</template>

<template name="filter-repeat" params="text, length">
    <%= filter.repeat(text, length) %>
</template>

<template name="filter-indent" params="text, pre">
    <%= filter.indent(text, pre) %>
</template>

<template name="filter-remove" params="text, search">
    <%= filter.remove(text, search) %>
</template>

<template name="filter-replace" params="text, search, replace">
    <%= filter.replace(text, search, replace) %>
</template>

<template name="filter-_undef" params="a">
    <%= filter._undef(a) %>
</template>

<template name="filter-_undefHtml" params="a">
    <%= filter._undefHtml(a) %>
</template>