<template name="trim">
                                            
                                            
                                                    
                                                    
                                                       
</template>

<template name="without-trim" trim="false">
      123     
</template>

<template name="without-trim-delete-spaces" trim="false" delete-spaces="false">
      123     
</template>


<template name="trim-with-number">
            <%= 1  %>                
            
            
</template>

<template name="new-line" trim="false" delete-spaces="false">





</template>

<template name="without-inline-js" params="a, b, c">
    Hello world!
</template>

<template name="with-inline-js" params="a, b, c">
    Hello <% if (a) { %><%= a %><% } %>world!
</template>

<template name="with-4-params" params="a, b, c, d">
    <%= a%> <%= b %>
</template>

<template name="default-params" params="x, y = 2, z = 'hello'">
    <%= x  %> <%= y + 2%> <%= z %>
</template>

<template name="same-template-name" params="a">
    <%= a %>
</template>

<template name="same-template-name" params="a">
    <%= a + 10 %>
</template>

<template name="quotes" params="a">
    '''   
</template>

<template name="quotes-with-slash" params="a">
    \'\'\'  <%= a + '\'' %> ''' \'\'\'
</template>

<template name="empty-string">
    <%= %> <% %>
</template>

<template name="call-template" params="a">
    <%= a %>__<%= template('call-template2', 1) %>__<%= a %>
</template>

<template name="call-template2" params="a">
    <%= a + 10 %>
</template>

<template name="param" params="a, b, c">
    <%= c %>
</template>

<template name="defaultParam" params="a, b, c = '2'">
    <%= c %>
</template>